.body{
    background-color: #CDCDCD;
}

/* .container{
    display: flex;
    justify-content: center;
    width: 100%;
} */

.header{
    background-image: url(image/обложка.png);
    position: relative;
    width: 1500px;
    height: 860px;
}

.button_header{
    bottom: 55px;
    position: absolute;
}

.button_bay{
    display: inline;
    padding: 5px 15px;
    color: black;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    border-color: white;
    left: 450px;
}

.button_sold{
    display: inline;
    padding: 5px 15px;
    color: black;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    border-color: white;
    left: 700px;
}

.button_rent{
    display: inline;
    padding: 5px 15px;
    color: black;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    border-color: white;
    left:950px;
}

.for_us{
    width: 750px;
    height: 235px;
    background-color: white;
    position: absolute;
    top: 820px;
    left: 25%;
    align-content: center;
}

.picture_for_us{
    width: 260px;
    height: 200px;
    box-shadow: 5 5 8px;
    padding-top: 20px;
    padding-left: 40px;
}

.header_for_us{
    right: 130px;
    position: absolute;
    bottom: 170px;
}

.text_header{
    padding-top: 50px;
    padding-bottom: 20px;
    position: absolute;
    text-align: center;
    font-size: 13px;
    bottom: 38px;
    right: 12px;
}

.header_top_rent{
    color: white;
    position: absolute;
    top: 1300px;
    padding-left: 35px;
    font-size:x-large;
}

.card_rent{
    position: absolute;
    width: 210px;
    height: 255px;
    background-color: white;
    border-radius: 40px;
    left: 190px;
    top: 1450px;
}

.picture_card_rent{
    position: absolute;
    width: 210px;
    height: 135px;
}

.rectangle_card_rent{
    background-color: white;
    width: 210px;
    height: 40px;
    position: absolute;
    top: 115px;
}

.header_card_rent{
    position: absolute;
    margin-top: 100px;
    left: 50px;
}

.text_card_rent{
    text-align: center;
    position: absolute;
    font-size: 9px;
    margin-top: 140px;
    right: 15px;
}

.button_card_rent{
    position: absolute;
    margin-top: 224px;
    right: 65px;
    display: inline;
    border-radius: 30px;
    background-color: black;
    color:white;
    padding: 3 12px;
}

.catalog_picture{
    margin-top: 5px;
    width: 1500px;
    height: 700px;
}

.rectangle_white{
    background-color: white;
    box-shadow: 5 5 12px;
    width: 750px;
    height: 500px;
    position: absolute;
    top: 1900px;
    margin-left: 400px;
}

.catalog_picture2{
    position: absolute;
    width: 550px;
    height: 400px;
    top: 47px;
    margin-left: 105px;
    box-shadow:7px 7px 15px;
}

.catalog_text{
    position: absolute;
    text-shadow: 0px 0px 5px black;
    text-align: center;
    top: 150px;
    color: white;
    font-size: 21px;
    margin-left: 145px;
}

.catalog_header{
    text-align: center;
    color: white;
    font-size: 18px;
    position: absolute;
    margin-left: 345px;
    margin-top: 65px;
    text-shadow: 0px 0px 5px black;
}

.catalog_button{
    position: absolute;
    margin-left: 308px;
    margin-top: 370px;
    width: 150px;
    height: 50px;
    border-color: white;
    background-color: black;
    color: white;
}